.button {
  all: unset;
  font-family: 'Roboto', sans-serif;

  height: 52px;

  cursor: pointer;
  background: var(--brand);
  color: white;
  padding: 0 20px;

  display: flex;
  justify-content: center !important;
  align-items: center !important;
  vertical-align: middle;
  gap: 8px;

  font-size: 18px;
  line-height: 18px;
}

.button:hover {
  background: var(--brand-hover);
}

.button-loading:hover {
  background: var(--brand);
}

.button:active {
  background: var(--brand-active);
}

.button-disabled {
  cursor: default;
  background: var(--brand-disabled) !important;
}

.ml-auto {
  margin-left: auto;
}
