@use '@styles/variables' as *;

.cart {
    padding: $space-xxl;
    max-width: 1200px;
    margin: 0 auto;

    &__content {
        margin-top: $space-xl;
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: $space-xl;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: $space-m;
    }
}