$border-radius: 8px;

$brand: #518581;
$brand-hover: #86aaa7;
$brand-active: #487773;

$space-xxl: 28px;
$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$loader-bg: $brand;
$button-primary-bg: $brand;
$button-primary-text: #fff;
$button-primary-bg-hover: $brand-hover;
$button-primary-text-hover: #fff;
$button-primary-bg-disabled: #d9d9d9;
$button-primary-text-disabled: #fff;
$button-primary-bg-active: $brand-active;
$button-primary-text-active: #fff;

$text-primary: #000;
$text-secondary: #afadb5;
$text-accent: $brand;

$input-text: #000;
$input-bg: #fff;
$input-placeholder: rgba(15, 23, 42, 0.4);
$input-border: rgb(15 23 42 / 0.1);
$input-bg-focus: #fff;
$input-border-focus: $brand;
$input-text-focus: #000;
$input-bg-disabled: #fff;
$input-border-disabled: #fff;
$input-text-disabled: rgba(#000, 0.2);

$checkbox-bg: #fff;
$checkbox-border: #fff;
$checkbox-bg-hover: #fff;
$checkbox-border-hover: $brand;
$checkbox-bg-disabled: rgba(#fff, 0.5);
$checkbox-border-disabled: transparent;
$checkbox-check: $brand;
$checkbox-check-hover: $brand;
$checkbox-check-disabled: rgba(#000, 0.2);

$card-bg: #fff;
$card-image-bg: #d9d9d9;
$card-border: rgb(15 23 42 / 0.1);
$card-border-radius: 12px;

$shadow: 0px 4px 10px 0px rgba(#000, 0.25);

$icon-primary: #000;
$icon-secondary: #afadb5;
$icon-accent: $brand;

$dropdown-options-bg: #fff;

$skeleton-background: #f8f8f8;
// $dropdown-options-rows: 3;
// $dropdown-options-padding: $space-s;
// $dropdown-min-width: 300px;
// $pagination-button: rgba(21, 20, 17, 1);
// $pagination-height: 42px;
// $pagination-button-hover: $brand;
// $pagination-button-disabled: rgba(175, 173, 181, 1);
// $pagination-page-padding: 10px;
// $pagination-page-text: $text-primary;
// $pagination-page-text-weight: 500;
// $pagination-page-text-active: white;
// $pagination-page-text-hover: $brand;
// $pagination-page-button-active: $brand;
