@use "@styles/variables" as *;

.home {
  --l-padding-x: 16px;
  padding: 0 var(--l-padding-x);
  text-align: center;

  &__title {
    font-size: 64px;
    line-height: 130%;
    padding-top: 64px;
    text-align: center;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 180%;
    padding: 32px 0;
    text-align: center;
  }

  &__banner {
    width: 80%;
    margin: auto;
    object-fit: cover;
    border-radius: 16px;
  }

  @media (min-width: 768px) {
    --l-padding-x: 48px;
  }
}
