@use "styles/variables" as *;

.home {
  --l-padding-x: 16px;
  padding: 0 var(--l-padding-x);

  &__title {
    padding: 48px 0;
    text-transform: uppercase;
    text-align: center;
    text-wrap: nowrap;
  }

  &__banner {
    width: 100%;
    height: calc(100svh - 70px - 16px);
    object-fit: cover;
    border-radius: 16px;
  }

  @media (min-width: 768px) {
    --l-padding-x: 48px;
  }
}
