.product-list {
  padding-top: var(--space-xl);
}

.product-list .title {
  display: flex;
  align-items: center;

  gap: var(--space-m);
}

.cards {
  padding-top: var(--space-l);
  display: grid;
  grid-template-columns: repeat(6, auto);

  justify-content: space-between;
  gap: 30px;
}
