@import "../../../../../styles/variables.scss";

.product-list {
  padding-top: $space-xl;

  .title {
    display: flex;
    align-items: center;
    gap: $space-m;
  }
}

.cards {
  padding-top: $space-l;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-between;
  gap: 30px;
}
