@use "styles/variables" as *;

.card-skeleton {
  width: 100%;
  background-color: $card-bg;
  transition: box-shadow 0.3s ease;
  border-radius: $card-border-radius;
  overflow: hidden;
  border: 1px solid $card-border;

  &__image {
    width: 100%;
    aspect-ratio: 1;

    background: $skeleton-background;
  }

  &__body {
    padding: $space-xl $space-xs $space-xs $space-xs;
  }

  &__caption {
    width: 25%;
    height: 18px;
    margin-bottom: $space-xxs;
    background: $skeleton-background;

    border-radius: 8px;
  }

  &__title {
    height: 48px;
    background: $skeleton-background;
    border-radius: 8px;
  }

  &__subtitle {
    margin-top: $space-xxs;
    height: 58px;

    background: $skeleton-background;
    border-radius: 8px;
  }

  &__footer {
    align-items: center;
    display: flex;
    margin-top: $space-l;
  }

  &__content {
    width: 15%;
    height: 20px;

    background: $skeleton-background;
    border-radius: 8px;
  }

  &__action {
    width: 40%;
    height: 48px;

    margin-left: auto;
    padding-left: $space-xxs;

    background: $skeleton-background;
    border-radius: 8px;
  }
}
