@use "styles/variables" as *;

.product {
  --l-padding: 16px;
  --l-container-columns: 1fr;
  --l-button-columns: 1fr;

  padding: var(--l-padding);

  &__return-back {
    display: inline-flex;
    align-items: center;
    gap: $space-xs;
  }

  &__container {
    padding-top: $space-l;

    display: grid;
    grid-template-columns: var(--l-container-columns);
    gap: $space-xl;
  }

  &__image {
    width: 100%;

    border-radius: $border-radius;
  }

  &__image-placeholder {
    width: 100%;
    aspect-ratio: 1;
    background: $skeleton-background;
    border-radius: $border-radius;
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: $space-m;
  }

  &__price {
    margin: $space-xl 0;
  }

  &__buttons-container {
    display: grid;
    grid-template-columns: var(--l-button-columns);
    gap: $space-xl;
  }

  @media (min-width: 768px) {
    --l-padding: 48px;
    --l-container-columns: calc(100% / 3) 1fr;
    --l-button-columns: repeat(2, 1fr);
  }
}
