@use "styles/variables" as *;

.product {
  padding: 60px 100px;

  .back {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }

  .product__container {
    padding-top: $space-l;

    display: flex;
    gap: $space-xl;

    .product__image {
      width: 800px;
      height: 800px;

      border-radius: $border-radius;
    }

    .product__about {
      display: flex;
      flex-direction: column;
      gap: $space-m;

      .product__price {
        margin: $space-xl 0;
      }
      .product__buttons {
        display: flex;
        gap: $space-xl;
      }
    }
  }
}
