@use "styles/variables" as *;

.header {
  --l-padding-x: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $space-s var(--l-padding-x);
  background: white;
  gap: $space-m;

  &__icons {
    display: flex;
    align-items: center;
    gap: $space-m;

    > * {
      cursor: pointer;
    }
  }

  @media (min-width: 768px) {
    --l-padding-x: 48px;
  }
}
