.navbar {
  display: flex;
  align-items: center;

  gap: var(--space-xl);
}

.navbar .navbar-element {
  text-decoration: none;
}

.navbar .navbar-active {
  position: relative;
}

.navbar .navbar-active::after {
  content: "";

  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background: var(--brand);

  top: 55px;
}
