.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: var(--space-xxs);

  margin-top: var(--space-xl);
}

.page-item {
  list-style-type: none;
}

.page-item button {
  background: transparent;
  color: black;
}
.page-item button:not(:disabled):hover {
  color: white;
}
.page-item.active button {
  background: var(--brand);
  color: white;
}

.page-link {
  padding: 0 20px;
  height: 100%;

  display: flex;
  align-items: center;
}
