@import "../../styles/variables.scss";

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $space-xxs;
  margin-top: $space-xl;
}

.page-item {
  list-style-type: none;

  button {
    background: transparent;
    color: black;

    &:not(:disabled):hover {
      color: white;
    }
  }

  &.active button {
    background: $brand;
    color: white;
  }
}

.page-link {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
}
